<div class="container">
  <main>
    {% for feature in {{include.param}} %}
      <hr {% if feature.section %}id="{{ feature.section }}-{{ feature.lang }}" {% endif %}lang="{{ feature.lang }}">

      <section lang="{{ feature.lang }}">
    {% if feature.image %}
        <img class="pull-right" src="{{ feature.image }}">
    {% endif %}
        <h2>{{ feature.heading }}</h2>
        <div class='lead'>{{ feature.content }}</div>
      </section>
    {% endfor %}

    <hr>

    <ul class="language-selector">
      <li><a lang="en">English</a></li>
      <li><a lang="ja">日本語</a></li>
    </ul>
  </main>
  {% include footer.html %}
</div>
